<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="{{ nav.homepage.url | url}}">Community</a>&nbsp;/&nbsp;</li>
    {% if page %}
      {% for doc in page.ancestors %}
        {% if doc.link %}
          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a>&nbsp;/&nbsp;</li>
        {% else %}
          <li>{{ doc.title }}&nbsp;/&nbsp;</li>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if page %}<li><strong>{{ page.title }}</strong></li>{% endif %}
    <li class="wy-breadcrumbs-aside">
      {%- block repo %}
      {% if page and page.edit_url %}
        <a href="{{ page.edit_url }}"
        {%- if config.repo_name|lower == 'github' %}
          class="icon icon-github"
        {%- elif config.repo_name|lower == 'bitbucket' %}
          class="icon icon-bitbucket"
        {% endif %}> Edit page on {{ config.repo_name }}</a>
      {% endif %}
      {%- endblock %}
    </li>
  </ul>
</div>
