
li.toctree-l1 hr {
  margin : 12px 0;
  border-top: 1px solid #777777;
}

h2 {
  margin-top : 50px;
  border-bottom : 1px solid #d0d0d0;
}

h3 {
  margin-top : 40px;
}

h4 {
  margin-top : 30px;
  margin-left : 1.5em;
}

h5 {
  margin-left : 3em;
}

h6 {
  margin-left : 4.5em;
}

p {
  margin-bottom : 3px;
}

footer {
  margin-top: 30px;
}

footer p {
  font-size: 80%;
  margin-bottom : 0;
}

.quick {
  margin-top : 25px;
  font-weight: bold;
  font-size: 125%;
}

.wy-nav-side {
  background-color: #303e4d;
}

.wy-nav-content {
    max-width: none;
}

.wy-side-nav-search {
  background-color: #f0ede7;
}

.wy-side-nav-search input[type=text] {
  border-color: #49617a;
}

.wy-side-nav-search > img.community-img {
  width: 158px;
  height: 114px;
  border-radius: 0;
  background-color: transparent;
}

a.ofweb:link,
a.ofweb:hover,
a.ofweb:visited,
a.ofweb:active {
  color: #3091d1;
  font-size : 85%;
  font-weight : none;
}

.wy-breadcrumbs-aside {
  font-size: 85%;
}

.wy-menu-vertical span {
  font-weight: bold;
  font-size: 105%;
}

.wy-menu-vertical a,
.wy-menu-vertical li ul li a {
  color: #d3d3d3;
}

.wy-menu-vertical a:hover {
  background-color: #516a83;
}

.home-container {
  width : 100%;
}

.home-container div {
  display: inline-block;
  text-align:center;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
}

.home-container div h2 {
  margin-top : 10px;
  border: 0;
}

.home-container div img {
  width : 112px;
}
